*.class
wines.txt
users.txt
server-images/
client-images/
portinho.jpg
bagacinho.jpg
infos.md
db/
infos/infos.txt
Manifest.txt
ManifestClient.txt
ManifestServer.txt
Tintolmarket50.jar
TintolmarketServer50.jar
5_cifras_assim_keytoolv2023.pdf
trab1_Fase2_2023_v3.pdf
SegC-grupo50-proj1-fase1.zip
infos/
keys/
infos/
lixo/
certsExemplo/
certificados/
hash/
blockchain/
